.reportContainer{ 
    display: flex;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

thead,
tfoot {
    /*bg color for the header  */
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    /*bg color for the table*/
    background-color: #e4f5ec;
}
table {
    
    border-collapse:collapse;
    border: 0px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1rem;
}

td,
th {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 10px;
    
}
td {
    text-align: center;
}

.buttons{
    position:absolute;
    top: 20%;
    margin-left: 28%;

}
.exportTo{
    margin-left: 25px;
    margin-bottom: 0px;
    
}
.exBtn{
    color: rgb(1, 84, 1);
    font-weight: bold;
    background-color: #00a74e;
    border: 1px solid darkgreen;
    cursor: pointer;  
    border-radius: 5px;
    margin-right: 5px;
    font-size: large;
    box-shadow: 0 9px rgb(45, 43, 43); 
}
.pdfBtn
{
    color: darkred;
    font-weight: bold;
    background-color: #bc667e;
    border: 1px solid darkred;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
    font-size: large; 
    box-shadow: 0 9px rgb(45, 43, 43); 
}
.pdfBtn:hover {background-color: #600707}

.pdfBtn:active {
  background-color: #921414;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

.exBtn:hover {background-color: #053407}

.exBtn:active {
  background-color: #063108;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}